div {
          text-align: center;
      }
      
      h1 {
          font-size: 80px;
          font-family: Impact;
      }
      
      button {
          width: 250px;
          height: 80px;
          background-color: blue;
          color: white;
      }
      
      p{
          font-size: 35px;
      }
      
      button:hover{
          background-color: green;
      }
      

/* Another solution */



/* body{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: blueviolet;

}
*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
}
.container{
          max-width: 600px;
          width: 100%;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(0,0,0,0.5);
          padding: 2rem;
          position: relative;
          overflow: hidden;
         /* text-align: center; */
/* }

.container h2 {
          font-size: 2rem;
          text-align: center;
          color: blue;
}

.quote_content{
          display: flex;
          justify-content: center;
          margin: 1.5rem 0;
}

.quote_content p{
          font-size: 1.2rem;
          text-align: center;
          padding: 0.2rem;
          
}

.quote-icon{
          font-size: 1.2rem;
          color: #acabab;
}

.quote_content i:first-child{
          margin: 3px 10px 0 0;
}
.quote_content i:last-child{
          margin: 0px 0px 3px 10px;
          display: flex;
          align-items: flex-end;
}

.author{
          text-align: center;
          font-weight: 600;
          padding: 1rem 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #707b7c;
}

.social_icons{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.5rem 0;
}

.social_icons ul{
          list-style-type:none ;
          display: flex;
}

.social_icons ul li{
          width: 50px;
          height: 50px;
          border: 1px solid #707b7c;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 10px 0px 0;
          cursor: pointer;
}

.social_icons ul li i{
          color: #074e99;
          font-size: 1.2rem;
}

.social_icons button{
          outline: none;
          border: none;
          background-color: #074e99;
          color: white;
          padding: 0.9rem 2rem;
          border-radius: 30px;
          cursor: pointer;
}

.social_icons button:active,
ul li:active{
          transform: scale(0.98);
}

.message{
         
          position: absolute;
          top: 10px;
          right: 0;
          padding: 0.5rem;
          background-color: #2c3e50;
          color: white;
          border-radius: 3px;
          transform: translateX(200%);
          transition: all 0.4s ease-in;
}

.message:active{
          transform: translateX(-10%);
}  */ 